@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

/* Remove all default margins and paddings
 * This is important, because margins and paddings vary.
 * That way, we can define margins and paddings ourselves.
 */
* {
	margin: 0;
	padding: 0;
}

/* Redefine default styles for common elements
 * The default values are either ugly or don't work for our purpose.
 */
a {
	text-decoration: none;
	color: #224422;
}
ul, ol {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Open Sans';
}
h1 {
	font-size: 14pt;
}
h2 {
	font-size: 12pt;
}

/* Set document size and base layout */
body > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}
header, footer {
	width: 100%;
	background: #ffaaff; /*TODO use some real colors */
}

/* Create a nice menu
 * On desktop, the items are on the left, and the search bar is on the right.
 * Menu items are separated by a black line.
 * The search bar is rounded manually and has a visual cue when focused.
 */
#menu {
	display: flex;
	background: #aaffaa; /*TODO use some real colors */
	padding: 5px;
	align-items: center;
	text-align: center;
}
#menu ul {
	display: flex;
	width: 100%;
	height: 100%;
}
#menu li {
	padding: 5px;
	height: 100%;
}
#menu li + li {
	border-left: 1px solid black;
}
#menu input[type=search] {
	border: 1px solid black;
	border-radius: 100px; /* to make sure it is bigger than it should */
	padding: 5px;
	margin: 5px;
	outline: none;
}
#menu input[type=search]:focus {
	border: 1px solid blue;
}

/* Create a nice footer
 * On desktop, the elements are organised vertically inside sections, and
 *  sections are organised horizontally and separated by black bars.
 */
footer {
	display: flex;
	text-align: center;
	vertical-align: middle;
	padding: 20px 0;
	align-items: stretch;
}
footer > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 100%;
}
footer > section + section {
	border-left: 1px solid black;
}

/* Force the main content to exist
 */
main {
	background: #aaaaff; /*TODO use some real colors */
	min-height: 500px;
}

/* Create a nice cart
 * Elements are arranged vertically and colored according to their parity.
 */
#panier {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}
#panier li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
}
#panier li + li {
	border-top: 1px solid black;
}
#panier li:nth-child(odd) {
	background: #ddaaff; /*TODO use some real colors */
}
#panier li:hover {
	background: #ddddff; /*TODO use some real colors */
}
#panier li figure {
	flex: 3;
}
#panier li input {
	max-width: 80px;
	flex: 1;
}

/* Create a nice form
 * The form is arranged in pairs label-field.
 * Pairs are arranged vertically and colored according to their parity.
 * On desktop, pairs are displayed on a single line and scale well.
 */
#formulaire form {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	align-content: stretch;
}
#formulaire span {
	display: flex;
	align-items: center;
}
#formulaire span:nth-child(odd) {
	background: #ddaaff; /*TODO use some real colors */
}
#formulaire label {
	flex: 1;
}
#formulaire label::after {
	content: ":";
}
#formulaire input, #formulaire select {
	flex: 2;
}

/* Creates nice figures
 * Figures are atomic units that represent an image and its caption.
 * Both are centered inside their container.
 */
figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
figure img {
	max-height: 500px;
	max-width: calc(400px - 3%);
}

/* Small viewport rules
 * This is used when the window is resized to a really small size.
 * This is also enforced when in phone mode.
 * Changes the layout of the website entirely.
 */
@media (max-width: 500px) {
	/* Change footer layout
	 * Sections are now organised vertically.
	 * Sections are now 100% wide.
	 */
	footer {
		flex-direction: column;
		padding: 0;
	}
	footer > section {
		width: 100%;
		padding: 10px 0;
	}
	footer > section + section {
		border-left: none;
		border-top: 1px solid black;
	}
	
	/* Change menu layout
	 * Menu is now vertical.
	 * Menu items are now 100% wide.
	 * Menu is now animated on mobile.
	 */
	#menu {
		/*FIXME find something less hacky */
		transition: max-height 1s ease-out;
		max-height: 20px;
	}
	#menu::before {
		content: "Menu";
		text-align: center;
		height: 20px;
	}
	#menu:hover {
		max-height: 1000px;
	}
	#menu, #menu ul {
		flex-direction: column;
		padding: 0;
	}
	#menu li + li {
		border-left: none;
		border-top: 1px solid black;
	}
	#menu a {
		display: block;
		width: 100%;
		height: 100%;
	}
	#menu form {
		width: 100%;
	}
	#menu input[type=search] {
		width: calc(100% - 10px);
		margin: 5px 0;
	}
	
	/* Change cart item layout
	 * Cart items are now vertical.
	 */
	#panier li {
		flex-direction: column;
	}
	
	/* Change form layout
	 * Everything is now vertical.
	 */
	#formulaire span {
		flex-direction: column;
		width: 100%;
	}
	#formulaire label::after {
		content: "";
	}
	#formulaire input, #formulaire select {
		width: 400px;
	}
}
