@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/* Remove all default margins and paddings
 * This is important, because margins and paddings vary.
 * That way, we can define margins and paddings ourselves.
 */
* {
  margin: 0;
  padding: 0;
}
/* Redefine default styles for common elements
 * The default values are either ugly or don't work for our purpose.
 */
a {
  text-decoration: none;
  color: #224422;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Open Sans';
}
h1 {
  font-size: 14pt;
}
h2 {
  font-size: 12pt;
}
p {
  padding: 5px 7px;
  text-align: justify;
  margin-bottom: 10px;
}
p a {
  font-style: italic;
}
small {
  opacity: 0.3;
}
/* Define text class
 * This is used to flag objects to be displayed as text
 */
ul.text,
ol.text {
  padding-left: 20px;
}
ul.text {
  list-style-type: disc;
}
ol.text {
  list-style-type: decimal;
}
/* Set document size and base layout */
body > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header,
footer {
  width: 100%;
  background: #ffaaff;
}
/* Create a nice menu
 * On desktop, the items are on the left, and the search bar is on the right.
 * Menu items are separated by a black line.
 * The search bar is rounded manually and has a visual cue when focused.
 */
#menu {
  display: flex;
  background: #aaffaa;
  padding: 5px;
  align-items: center;
  text-align: center;
}
#menu ul {
  display: flex;
  width: 100%;
  height: 100%;
}
#menu ul li {
  padding: 5px;
  height: 100%;
}
#menu ul li + li {
  border-left: 1px solid black;
}
#menu input[type=search] {
  border: 1px solid black;
  border-radius: 1000px;
  padding: 5px;
  margin: 5px;
  outline: none;
}
#menu input[type=search]:focus {
  box-shadow: 0 0 5px dodgerblue;
  border-color: dodgerblue;
}
/* Create a nice footer
 * On desktop, the elements are organised vertically inside sections, and
 *  sections are organised horizontally and separated by black bars.
 */
footer {
  display: flex;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
  align-items: stretch;
}
footer > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
footer > section + section {
  border-left: 1px solid black;
}
/* Force the main content to exist
 */
main {
  background: #aaaaff;
  min-height: 500px;
}
main .reasonablesize {
  max-width: 1000px;
}
/* Create a nice cart
 * Elements are arranged vertically and colored according to their parity.
 */
#panier {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
#panier li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
#panier li + li {
  border-top: 1px solid black;
}
#panier li:nth-child(odd) {
  background: #22ffaa;
}
#panier li:nth-child(even) {
  background: #aaff22;
}
#panier li:hover {
  background: #ffccff;
}
#panier li > figure {
  flex: 3;
}
#panier li > a {
  max-width: 80px;
  flex: 1;
}
/* Create a nice form for the cart and order
 * The form is arranged in pairs label-field.
 * Pairs are arranged vertically and colored according to their parity.
 * On desktop, pairs are displayed on a single line and scale well.
 */
#formulaire form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-content: stretch;
}
#formulaire form span {
  display: flex;
  align-items: center;
}
#formulaire form span:nth-child(odd) {
  background: #22ffaa;
}
#formulaire form span:nth-child(even) {
  background: #aaff22;
}
#formulaire form label {
  flex: 1;
}
#formulaire form label::after {
  content: ":";
}
#formulaire form input,
#formulaire form select {
  flex: 2;
}
/* Creates nice figures
 * Figures are atomic units that represent an image and its caption.
 * Both are centered inside their container.
 */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
figure img {
  max-height: 500px;
  max-width: calc(400px - 3%);
}
/* Hidden stuff
 */
small.hidden {
  display: none;
  height: 0;
  width: 0;
}
small.hidden:target {
  display: initial;
  height: initial;
  width: initial;
  opacity: 1;
  background: #ccffcc;
}
a.hidden {
  color: inherit;
  font-style: inherit;
  cursor: default;
}
/* Small viewport rules
 * This is used when the window is resized to a really small size.
 * This is also enforced when in phone mode.
 * Changes the layout of the website entirely.
 */
@media (max-width: 500px) {
  /* Change footer layout
	 * Sections are now organised vertically.
	 * Sections are now 100% wide.
	 */
  footer {
    flex-direction: column;
    padding: 0;
  }
  footer > section {
    width: 100%;
    padding: 10px 0;
  }
  footer > section + section {
    border-left: none;
    border-top: 1px solid black;
  }
  /* Change menu layout
	 * Menu is now vertical.
	 * Menu items are now 100% wide.
	 * Menu is now animated on mobile.
	 */
  #menu {
    transition: max-height 1s ease-out;
    max-height: 20px;
    flex-direction: column;
    padding: 0;
  }
  #menu::before {
    content: "Menu";
    text-align: center;
    height: 20px;
  }
  #menu:hover {
    max-height: 1000px;
  }
  #menu ul {
    flex-direction: column;
    padding: 0;
  }
  #menu ul li + li {
    border-left: none;
    border-top: 1px solid black;
  }
  #menu a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #menu form {
    width: 100%;
  }
  #menu form input[type=search] {
    width: calc(100% - 10px);
    margin: 5px 0;
  }
  /* Change cart item layout
	 * Cart items are now vertical.
	 */
  #panier li {
    flex-direction: column;
  }
  /* Change form layout
	 * Everything is now vertical.
	 */
  #formulaire span {
    flex-direction: column;
    width: 100%;
  }
  #formulaire labe::after {
    content: "";
  }
  #formulaire input,
  #formulaire select {
    width: 400px;
  }
}
