* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

body > section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

header, footer {
	width: 100%;
	background: #ffaaff;
}

#menu {
	display: flex;
	background: #aaffaa;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
#menu ul {
	display: flex;
	width: 100%;
	height: 100%;
}
#menu li {
	padding: 5px;
	height: 100%;
}
#menu li + li {
	border-left: 1px solid black;
}
#menu input[type=search] {
	border: 1px solid black;
	border-radius: 100px; /* to make sure it is bigger than it should */
	padding: 5px;
	margin: 5px;
}

footer {
	display: flex;
	text-align: center;
	padding: 20px 0;
}
footer > section {
	display: inline-flex;
	flex-direction: column;
	padding: 10px;
	width: 50%;
}
footer > section + section {
	border-left: 1px solid black;
}

#main {
	background: #aaaaff;
	min-height: 500px;
}
