<html lang="fr">
<head>
	<title>Generic Shop - <substituable class="title" /></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=500" />
	<link rel="stylesheet" type="text/css" href="res/styles.css" />
</head>
<body>

	<header>
		<h1>Generic Shop - <substituable class="title" /></h1>
	</header>

	<div>
		<nav id="menu">
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="panier.html">Mon panier</a></li>
			</ul>
			<form action="ma_recherche.html"><input type="search" name="q" placeholder="Rechercher" /></form>
		</nav>
		<main>
			<substituable class="html" />
		</main>
	</div>

	<footer>
		<section>
			<h2>Mentions légales</h2>
			<a href="nous_contacter.html">Nous contacter</a>
			<span>SARL Generic Shop</span>
		</section>
		<section>
			<h2>Autres informations</h2>
			<a href="a_propos.html">À propos de nous</a>
		</section>
	</footer>

</body>
</html>
