main {
	padding: 50px;

	.art {
		margin: 15px;
		padding: 5px;
		.mainbox();

		.left {
			h2 {
				.highlight();
			}
		}

		p {
			padding: 15px;
			font-size: 2rem;
			align-self: center;

			a {
				.link();
			}
		}
	}
}
