// menu is horizontal
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	
	ul {
		display: flex;
		flex-direction: row;
		
		li {
			
			padding: 0 1rem;
			
			& + li {
				border-left: 1px solid;
			}
		}
	}
}

// footer is horizontal then vertical
footer {
	section {
		& + section {
			border-left: 1px solid;
		}
	}
}

body#article1, body#article2, body#article3 {
	@import "article_large.less";
}

body#index {
	@import "index_large.less";
}

body#ma_recherche {
	@import "recherche_large.less";
}

body#commande {
	@import "commande_large.less";
}
