@toobig: 1000px;
@reasonablesize: 1000px;

@outercolor: #ffaaff;
@menucolor: #aaffaa;
@innercolor: #aaaaff;
@oddcolor: #22ffaa;
@evencolor: #aaff22;
@highlightcolor: #ffccff;
@targetcolor: #ccffcc;
@linkcolor: #224422;

@mediumsize: (max-width: 800px);
@largesize: (min-width: 801px) and (max-width: 1600px);
@xlargesize: (min-width: 1601px);
